@import 'reset.css';
@import 'site-wide.css';

body {
  display: flex;
}

/*div a img {
  display: inline-block;
/*  position: absolute;*/
/*}
*/

div a img {

}

div.about {
  width: 40%;
}

div.stories {
  width: 60%;
  display: inline-block;
}

div a.ear {
  position: relative;
  bottom: -37%;
  right: -1%;
/*  right: 314px;*/
}

div a.ear img {
  width: 29%;
}

div a.eye {
  position: relative;
/*  top: -163px;
  right: 219px;*/
  /*bottom: 31%;*/
  bottom: 18%;
  right: 9%;
}

div a.eye img {
  width: 43%;
}

div a.foot img {
  position: absolute;
  top: 20%;
  right: 2%;
/*  width: 30%;*/
}

div a.foot img {
  width: 30%;
}

div a.foot img.red_foot {
  visibility: hidden;
}



/*div.about a img {
  width: 50%;
}*/

div.about img {
  width: 85%;
  padding-bottom: 20px;
}

div.about img:last-child {
  width: 87%;
  padding-bottom: 0;
}

div.about img.title {
  visibility: hidden;
}

div.about {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100vh;
}

div.about a {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
/*  height: 100vh;
  position: relative;
  bottom: 0px;*/
  margin-top: auto;
  margin-left: 15%;;
}


