@import 'slideshow.css';

div {
  display: flex;
  flex-direction: column;
}

div iframe {
  margin: auto;
}

div p {
  margin: auto;
}

div p.about {
  color: white;
  margin: 16px 92px;
  font-size: 24px;
  text-align: center;
}
