/*@import 'slideshow.css';*/

#homeIcon {
  position: absolute;
  width: 5%;
  left: 12px;
  top: 12px;
}

body {
  overflow: scroll;
  background-color: black;
}
div {
  display: flex;
  flex-direction: column;
}

div iframe {
  margin: auto;
}

div p {
  margin: auto;
}

div.doves {
  flex-direction: row;
  width: 100%;
  align-items: center;
}

div.doves img {
  max-width: 33%;
}

div.collaborators {
  flex-direction: row;
  align-items: center;
}

div.collaborators img {
  max-width: 50%;
  transform: rotate(30deg);
  margin-left: 10%
}

div.about-content {
  color: white;
  margin: 16px 92px;
  font-size: 4vh;
  font-family: 'Oswald', sans-serif;
}

div.about-content div {
  margin: 24px 0;
}

div.about-content {
  justify-content: center;
}

div.video-player {
  padding-top: 2%;
}
