@import 'reset.css';
@import 'site-wide.css';

body {
  display: flex;
}

/*div a img {
  display: inline-block;
/*  position: absolute;*/
/*}
*/

div a img {

}

div.about {
  width: 40%;
}

div.stories {
  width: 60%;
  display: inline-block;
}

div a.ear {
  position: relative;
  bottom: -37%;
  right: -1%;
/*  right: 314px;*/
}

div a.ear img {
  width: 29%;
}

div a.eye {
  position: relative;
/*  top: -163px;
  right: 219px;*/
  /*bottom: 31%;*/
  bottom: 18%;
  right: 9%;
}

div a.eye img {
  width: 43%;
}

div a.foot img {
  position: absolute;
  top: 20%;
  right: 2%;
/*  width: 30%;*/
}

div a.foot img {
  width: 30%;
}

div a.foot img.red_foot {
  visibility: hidden;
}



/*div.about a img {
  width: 50%;
}*/

div.about img {
  width: 85%;
  padding-bottom: 20px;
}

div.about img:last-child {
  width: 87%;
  padding-bottom: 0;
}

div.about img.title {
  visibility: hidden;
}

div.about {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100vh;
}

div.about a {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
/*  height: 100vh;
  position: relative;
  bottom: 0px;*/
  margin-top: auto;
  margin-left: 15%;;
}

#modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
  align-items: center;

}

.modal-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 75vh;
  border-width: 20px;
  border-style: solid;
  border-image: url(../assets/home-page/modal_background.jpg) 50;
  color: white;
  font-size: 50px;
  text-align: center;
  overflow: scroll;
}

