@import 'reset.css';
@import 'site-wide.css';

#homeIcon {
  position: absolute;
  width: 5%;
  left: 12px;
  top: 12px;
}

body {
  overflow: scroll;
}

h1 {
  padding-top: 24px;
  color: #f09696;
  font-size: 7vw;
  text-align: center;
}

#vertical-slideshow {
  text-align: center;
  color: white;
  font-size: 50px;
  width: 95%;
  margin: 0 auto;
}

#vertical-slideshow img {
  width: 50%;
}

#vertical-slideshow .triple-image {
  display: flex;
  justify-content: center;
}

#vertical-slideshow .triple-image img {
  width: 30%;
}

#vertical-slideshow div {
  margin: 72px 0;
  text-align: left;
}

#vertical-slideshow div.audioControls {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 11px;
  background-color: white;
  margin: unset;
/*  margin-top: unset;
  margin-bottom: unset;*/
  font-size: 12px;
}

#vertical-slideshow div.audioControls button {
  border: unset;
  font-size: 25px;
  background-color: unset;
}

/*#vertical-slideshow img {
  margin: 0 auto;
  padding: 24px 0;
}*/


